.vscode
.cache
.clangd

STM/*/build
STM/*/compile_commands.json
STM/*/api.yaml
STM/*/succ-ret.yaml
STM/*/loops.yaml
STM/*/periph-struct.yaml
STM/make-all.sh

NXP/make-all.sh
NXP/*/perry-build/api.yaml
NXP/*/perry-build/succ-ret.yaml
NXP/*/perry-build/loops.yaml
NXP/*/perry-build/periph-struct.yaml
NXP/*/perry-build/CMakeFiles
NXP/*/perry-build/debug
NXP/*/perry-build/cmake_install.cmake
NXP/*/perry-build/CMakeCache.txt
NXP/*/perry-build/compile_commands.json
NXP/*/perry-build/Makefile
